
@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.btn {
  @apply bg-gray-300 px-4 py-2 rounded text-gray-800 font-bold;
}

.btn:hover {
  @apply bg-gray-400;
}

.btn:active, .btn:focus {
  @apply bg-gray-400;
}